    footer#footer-section13.bg-dark-gray.padding-60px-tb.xs-padding-40px-tb.builder-bg
      .container
        .row
          // logo
          .col-md-3.col-sm-12.col-xs-12.sm-text-center.sm-margin-five-bottom
            a.inner-link(href='#home')
              img(src='images/logo-white.png', data-img-size='(W)163px X (H)40px', alt='')
          // end logo
          // caption
          .col-md-6.col-sm-12.col-xs-12.text-center.sm-margin-five-bottom
            .tz-text.text-medium.sm-margin-two-bottom
              p.no-margin-bottom
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit laudantium architecto maiores deserunt suscipit perferendis repellat.
          // end caption
          // social elements
          .col-md-3.col-sm-12.col-xs-12.text-right.sm-text-center.social-icon
            a(href='#')
              i.fa.fa-facebook.text-white.tz-icon-color(aria-hidden='true')
            a(href='#')
              i.fa.fa-google-plus.text-white.tz-icon-color(aria-hidden='true')
            a(href='#')
              i.fa.fa-twitter.text-white.tz-icon-color(aria-hidden='true')
            a(href='#')
              i.fa.fa-pinterest.text-white.tz-icon-color(aria-hidden='true')
    // javascript libraries
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/jquery.appear.js')
    script(type='text/javascript', src='js/smooth-scroll.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    // wow animation
    script(type='text/javascript', src='js/wow.min.js')
    // owl carousel
    script(type='text/javascript', src='js/owl.carousel.min.js')
    // images loaded
    script(type='text/javascript', src='js/imagesloaded.pkgd.min.js')
    // isotope
    script(type='text/javascript', src='js/jquery.isotope.min.js')
    // magnific popup
    script(type='text/javascript', src='js/jquery.magnific-popup.min.js')
    // navigation
    script(type='text/javascript', src='js/jquery.nav.js')
    // equalize
    script(type='text/javascript', src='js/equalize.min.js')
    // fit videos
    script(type='text/javascript', src='js/jquery.fitvids.js')
    // number counter
    script(type='text/javascript', src='js/jquery.countTo.js')
    // time counter
    script(type='text/javascript', src='js/counter.js')
    // twitter Fetcher
    script(type='text/javascript', src='js/twitterFetcher_min.js')
    // main
    script(type='text/javascript', src='js/main.js')
