extends ../layouts/default
block content
  header
    nav.navbar.navbar-default.navbar-static-top
     .table-responsive
       table.table
         tr
           td 
            h2=title
            p Devbox master
           td
            right
            .container-fluid(style='padding-top:4%;font-size:1.4em;')
             if isAlreadyLoggedin
               a(href='#') LoggedIn menu item
               &nbsp&nbsp
               a(href='/logout') Logout
               &nbsp&nbsp&nbsp&nbsp
             else
               a(href='login') Login
               &nbsp&nbsp
               a(href='register') Register
            .container-fluid
             if username
              b Username: #{username}

