doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1')
    // title
    title=title
    meta(name='description', content='LeadGen is a conversion ratio and speed optimized multi-purpose marketing landing page template with drag & drop page builder and tons of readymade elements and demos with greater level of customization possibilities.')
    meta(name='keywords', content='Marketing, landing page, creative, html5, css3, page builder, drag & drop, multi-purpose, one page, aweber, mailchimp, active campaign, campaign monitor, get response, mailer lite, custom form, product, hotel and resort, resume, personal, restaurant, corporate business, interior design, software, spa salon, travel agency, app landing page, design agency, start-up, e-learning, sports and gym, seo, wedding invitation, hosting, online shopping, yoga and fitness, music show, finance and account, e-book, event, medical, real estate, portfolio, digital marketing, inner content page, sign-up, 404 not found, coming soon')
    meta(name='author', content='lgauthor')
    // favicon
    link(rel='shortcut icon', href='images/icon/favicon.png')
    // animation
    link(rel='stylesheet', href='css/animate.css')
    // bootstrap
    link(rel='stylesheet', href='css/bootstrap.min.css')
    // font-awesome icon
    link(rel='stylesheet', href='css/font-awesome.min.css')
    // themify-icons
    link(rel='stylesheet', href='css/themify-icons.css')
    // owl carousel
    link(rel='stylesheet', href='css/owl.transitions.css')
    link(rel='stylesheet', href='css/owl.carousel.css')
    // magnific popup
    link(rel='stylesheet', href='css/magnific-popup.css')
    // base
    link(rel='stylesheet', href='css/base.css')
    // elements
    link(rel='stylesheet', href='css/elements.css')
    // responsive
    link(rel='stylesheet', href='css/responsive.css')
    //if IE 9
      link(rel='stylesheet', type='text/css', href='css/ie.css')
    //if IE
      script(src='js/html5shiv.min.js')
  body
    header#header-section5.header-style2
      // nav
      nav.navbar.bg-white.tz-header-bg.no-margin.alt-font.shrink-header.light-header
        .container.navigation-menu
          .row
            // logo
            .col-md-3.col-sm-4.col-xs-9
              a.inner-link(href='#home')
                img(alt='', src='images/ocean_dataflow03.jpg')
            // end logo
            .col-md-9.col-sm-8.col-xs-3.position-inherit
              button.navbar-toggle.collapsed(data-target='#bs-example-navbar-collapse-1', data-toggle='collapse', type='button')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              #bs-example-navbar-collapse-1.collapse.navbar-collapse.pull-right
                ul.nav.navbar-nav.font-weight-500
                  li.propClone
                    a.inner-link(href='#blog-section6') SERVICES
                  li.propClone
                    a.inner-link(href='#tab-section2') SOLUTIONS
                  li.propClone
                    a.inner-link(href='#testimonials-section14') METHODOLOGY
                  li.propClone
                    a.inner-link(href='#team-section1') AGILE APPROACH
                  li.propClone
                    a.inner-link(href='#title-section1') ARTICLES
                  li.propClone
                    a.inner-link(href='#contact') CONTACT
                  if lang == "en"
                    li.propClone
                      a.inner-link(href='/fr') Français
                  else
                    li.propClone
                      a.inner-link(href='/en') English
      // end nav
    section#home.padding-110px-tb.cover-background.tz-builder-bg-image.border-none.bg-img-one(data-img-size='(W)1920px X (H)961px', style="background: linear-gradient(rgba(0,0,0,0.65), rgba(10,10,10,0.7)) repeat scroll 0% 0%, transparent url('../images/home1.jpeg') repeat scroll 0% 0%;")
      .container.one-second-screen.position-relative.xs-height-auto
        .row
          .slider-typography.xs-position-static
            .slider-text-middle-main
              .slider-text-middle.text-left
                // logo
                .col-lg-6.col-md-8.col-sm-12.col-xs-12.text-center.center-col
                  .margin-ten-bottom
                    img(alt='', src='images/ocean_dataflow_final_nobkg (3).png')
                  h2.tz-text.alt-font.text-white.title-extra-large-3.xs-title-extra-large-3 Customized & Agile Integration of Dataflow
                  span.tz-text.text-small2.alt-font.text-poison-green.letter-spacing-4.margin-seven-top.display-block(style="color:#01A4FC;") Imagine ...
    section#callto-action6.padding-110px-tb.bg-white.footer-top.builder-bg.xs-padding-60px-tb.border-none
      .container
        .row
          // section title
          .col-md-10.col-sm-12.col-xs-12.margin-two-bottom.text-center.xs-margin-fifteen-bottom.center-col
            h2.title-extra-large-2.xs-title-extra-large.line-height-50.text-dark-gray.letter-spacing-minus-1.width-85.md-width-100.center-col.alt-font.tz-text.margin-eight-bottom.display-block 
              | How to make the digital shift for your organisation growth?
              br
              small
                | ‘Customized Agile Integration’ of the Data Flow™ FR

            .title-small.xs-title-small.tz-text.font-weight-300.width-90.md-width-100.center-col.margin-ten-bottom.tz-text
              p
                | Ocean Data inc. empowers employees’ passion, by virtually, eliminating the data entry to fill digitally or paper document, the handling of multiple files to create documents, the creation of reports and the manual process of placing the right information at the right place in management software.
              p
                | Data Flow™ provides profitability from the first quarter of the solution deployment. Financing opportunities are offered through partnerships with recognized institutions.
              br
              img(src='images/about1.jpg', alt='', style='width:304px;height:228px;')
          // end section title
    section#blog-section6.padding-110px-tb.xs-padding-60px-tb.blog-style1.bg-dark-blue.builder-bg.border-none
      .container
        // section title
        .row
          .col-md-12.col-sm-12.col-xs-12.text-center
            h2.title-extra-large-2.xs-title-extra-large.line-height-50.text-poison-green.letter-spacing-minus-1.alt-font.font-weight-500.margin-three-bottom.xs-margin-fifteen-bottom.tz-text Digitization Transition
            .text-medium.width-60.margin-lr-auto.md-width-70.sm-width-100.tz-text.margin-thirteen-bottom.text-blue-gray.xs-margin-nineteen-bottom
              | Imagine the potential to simplify document management and data management.
        // end section title
        .row
          // blog item
          .col-md-4.col-sm-4.col-xs-12.xs-margin-nineteen-bottom
            .blog-post
              // blog image
              .blog-image
                a(href='#')
                  img.img100(alt='', src='images/service1.jpg', data-img-size='(W)800px X (H)533px', style='width:800px;height:400px;')
              // end blog image
              // blog details
              .post-details.bg-white.tz-background-color
                a.tz-text.text-dark-gray.blog-post-title.text-large.alt-font.font-weight-500.margin-five-bottom.display-inline-block.md-margin-five-bottom(href='#') 
                .text-medium.tz-text
                  | Ensure that information is captured only at the source of the process lifecycle so that the machine learns (Machine Learning) how to complete your documents by integrating the Data Flow™ to complement the actual situation.
              // end blog details
          // end blog item
          // blog item
          .col-md-4.col-sm-4.col-xs-12.xs-margin-nineteen-bottom
            .blog-post
              // blog image
              .blog-image
                a(href='#')
                  img.img100(alt='', src='images/service2.jpg', data-img-size='(W)800px X (H)533px', style='width:800px;height:400px;')
              // end blog image
              // blog details
              .post-details.bg-white.tz-background-color
                a.tz-text.text-dark-gray.blog-post-title.text-large.alt-font.font-weight-500.margin-five-bottom.display-inline-block.md-margin-five-bottom(href='#')
                .text-medium.tz-text
                  | By introducing technology into everyday processes, we empower companies to maintain sustainable competitive edge, expand market share, and seize opportunities in their respective industries.

                  
              // end blog details
          // end blog item
          // blog item
          .col-md-4.col-sm-4.col-xs-12.xs-margin-nineteen-bottom
            .blog-post
              // blog image
              .blog-image
                a(href='#')
                  img.img100(alt='', src='images/service3.jpg', data-img-size='(W)800px X (H)533px', style='width:800px;height:400px;')
              // end blog image
              // blog details
              .post-details.bg-white.tz-background-color
                a.tz-text.text-dark-gray.blog-post-title.text-large.alt-font.font-weight-500.margin-five-bottom.display-inline-block.md-margin-five-bottom(href='#')
                .text-medium.tz-text
                  | We fuel organisational growth one success at a time by integrating Artificial Intelligence, Machine Learning, Big Data Management, Data Analytics Automation, Applied Cryptography. 
              // end blog details
          // end blog item
    section#feature-section7.padding-110px-tb.feature-style4.bg-white.builder-bg.xs-padding-60px-tb.border-none
      .container
        .row
          .col-md-12.col-sm-12.col-xs-12.four-column
            // feature box
            .col-md-3.col-sm-6.col-xs-12.text-center.sm-margin-nine-bottom.xs-margin-nineteen-bottom
              .margin-fourteen-bottom.sm-margin-thirteen-bottom.xs-margin-nine-bottom
                img(alt='', src='images/service3.jpg', data-img-size='(W)90px X (H)90px', style='width:500px;height:150px;')
              h3.text-medium.text-dark-gray.alt-font.font-weight-500.margin-five-bottom.display-block.sm-margin-four-bottom.xs-margin-five-bottom.tz-text 
                | #1 Go paperless
              .text-medium.tz-text
                p
                  | Digitize your business documents (e.g., work instructions, forms, purchase and shipping orders, product specifications) to save time and money, and to reduce errors due to incorrect and outdated data entry and copy-paste of information.
            // end feature box
            // feature box
            .col-md-3.col-sm-6.col-xs-12.text-center.sm-margin-nine-bottom.xs-margin-nineteen-bottom
              .margin-fourteen-bottom.sm-margin-thirteen-bottom.xs-margin-nine-bottom
                img(alt='', src='images/service4.png', data-img-size='(W)90px X (H)90px', style='width:500px;height:150px;')
              h3.text-medium.text-dark-gray.alt-font.font-weight-500.margin-five-bottom.display-block.sm-margin-four-bottom.xs-margin-five-bottom.tz-text #2 Optimize processes 
              .text-medium.tz-text
                p
                  | Use analytic software to mine data to identify the process workflow you face daily to improve efficiency, cost of resources, and optimize resources utilization. 
            // end feature box
            // feature box
            .col-md-3.col-sm-6.col-xs-12.text-center.xs-margin-nine-bottom.xs-margin-nineteen-bottom
              .margin-fourteen-bottom.sm-margin-thirteen-bottom.xs-margin-nine-bottom
                img(alt='', src='images/service5.jpg', data-img-size='(W)90px X (H)90px', style='width:500px;height:150px;')
              h3.text-medium.text-dark-gray.alt-font.font-weight-500.margin-five-bottom.display-block.sm-margin-four-bottom.xs-margin-five-bottom.tz-text #3 Customization
              .text-medium.tz-text
                p
                  | Use custom development for the interface interaction with your customers, suppliers, and business partners (e.g., text messages, chatbot, email notifications, etc.). ​
            // end feature box
            // feature box
            .col-md-3.col-sm-6.col-xs-12.text-center
              .margin-fourteen-bottom.sm-margin-thirteen-bottom.xs-margin-nine-bottom
                img(alt='', src='images/service7.jpg', data-img-size='(W)90px X (H)90px', style='width:500px;height:150px;')
              h3.text-medium.text-dark-gray.alt-font.font-weight-500.margin-five-bottom.display-block.sm-margin-four-bottom.xs-margin-five-bottom.tz-text ​#4 Introduce smart processes (Machine Learning)
              .text-medium.tz-text
                p
                  | Introduce machines that can analyze their own data to predict task performance. Share notification with your customers or employees.
            // end feature box
            // feature box
            .col-md-3.col-sm-6.col-xs-12.text-center
              .margin-fourteen-bottom.sm-margin-thirteen-bottom.xs-margin-nine-bottom
                img(alt='', src='images/service8.jpg', data-img-size='(W)90px X (H)90px', style='width:500px;height:150px;')
              h3.text-medium.text-dark-gray.alt-font.font-weight-500.margin-five-bottom.display-block.sm-margin-four-bottom.xs-margin-five-bottom.tz-text #5 Monitor & control in real time (Deep Learning)
              .text-medium.tz-text
                p
                  | Monitor by collecting data about your services or product offering. This allows you to accurately track, identify and correct challenges by anticipation, to ensure you make more informed strategic decisions. 
            // end feature box
            // feature box
            .col-md-3.col-sm-6.col-xs-12.text-center
              .margin-fourteen-bottom.sm-margin-thirteen-bottom.xs-margin-nine-bottom
                img(alt='', src='images/service9.jpg', data-img-size='(W)90px X (H)90px', style='width:500px;height:150px;')
              h3.text-medium.text-dark-gray.alt-font.font-weight-500.margin-five-bottom.display-block.sm-margin-four-bottom.xs-margin-five-bottom.tz-text ​#6 Connect to the Internet (IoT)
              .text-medium.tz-text
                p
                  | Share notification with your customers or employees based on censor interaction. You can also use smart services based on usage or develop new, innovative products and services.
            // end feature box
            // feature box
            .col-md-3.col-sm-6.col-xs-12.text-center
              .margin-fourteen-bottom.sm-margin-thirteen-bottom.xs-margin-nine-bottom
                img(alt='', src='images/service9.jpg', data-img-size='(W)90px X (H)90px', style='width:500px;height:150px;')
              h3.text-medium.text-dark-gray.alt-font.font-weight-500.margin-five-bottom.display-block.sm-margin-four-bottom.xs-margin-five-bottom.tz-text ​#7 Industry 4.0: Total digitization
              .text-medium.tz-text
                p
                  | Companies are completely digitizing and integrating into digital ecosystems that include partners all along the value chain, from suppliers to customers.  -  PWC
            // end feature box
    section#tab-section2.bg-light-gray.builder-bg.border-none
      .container-fluid
        .row.equalize
          .col-md-6.col-sm-12.col-xs-12.display-table
            .display-table-cell-vertical-middle.padding-twenty-two.md-padding-seven.xs-no-padding-lr.xs-padding-twenty-nine
              h2.title-extra-large-2.xs-title-extra-large.line-height-50.text-dark-gray.letter-spacing-minus-1.width-90.md-width-100.margin-fifteen-bottom.tz-text.sm-margin-ten-bottom.xs-margin-fifteen-bottom.alt-font ‘Customized Agile Integration’ of the Data Flow™ of business processes.
              #accordion.panel-group.accordion-style1
                // tab content
                .panel.panel-default
                  .panel-heading.tz-background-color
                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                      .panel-title
                        span.builder-bg.alt-font.tz-text.font-weight-500.text-poison-green.tab-tag 01
                        span.text-dark-gray.tz-text  Drive greater Cost effectiveness
                        i.fa.fa-angle-up.pull-right.text-dark-gray.tz-icon-color
                  #collapseOne.panel-collapse.collapse.in
                    .panel-body.text-medium.tz-text
                      ul
                        li
                          p Faster, more efficient document processing;
                        li
                          p Eliminate error;
                        li
                          p Capitalise on payment discount opportunities;
                        li
                          p Reduce warehousing and storage costs;

                // end tab content
                // tab content
                .panel.panel-default
                  .panel-heading.tz-background-color
                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                      .panel-title
                        span.builder-bg.alt-font.tz-text.font-weight-500.text-poison-green.tab-tag 02
                        span.text-dark-gray.tz-text Take Control of your Data Flow
                        i.indicator.fa.fa-angle-down.pull-right.text-dark-gray.tz-icon-color
                  #collapseTwo.panel-collapse.collapse
                    .panel-body.text-medium.tz-text
                      ul
                        li
                          p Streamline processes;
                        li
                          p Eliminate the reliance on manual error-prone;
                        li
                          p Increase consistency and flexibility of workflow;
                        li
                          p Better record keeping and audit preparation;

                // end tab content
                // tab content
                .panel.panel-default
                  .panel-heading.tz-background-color
                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                      .panel-title
                        span.builder-bg.alt-font.tz-text.font-weight-500.text-poison-green.tab-tag 03
                        span.text-dark-gray.tz-text  Integrate information
                        i.indicator.fa.fa-angle-down.pull-right.text-dark-gray.tz-icon-color
                  #collapseThree.panel-collapse.collapse
                    .panel-body.text-medium.tz-text
                      ul
                        li
                          p Accelerate integration of Data Flow;
                        li
                          p Enhance business intelligence;
                        li
                          p Fast, simple, quick and secure access to data;
                        li
                          p Improve document search and retrieval;

                // end tab content
          .col-md-6.col-sm-12.col-xs-12.tz-builder-bg-image.sm-height-600-px.xs-height-400-px.cover-background.bg-img-two(data-img-size='(W)1000px X (H)800px', style="background:linear-gradient(rgba(0,0,0,0.01), rgba(0,0,0,0.01)), url('images/solution1.jpg')")

    section#testimonials-section14.builder-bg.testimonial-style1.bg-white.padding-110px-tb.xs-padding-top-60px.border-none
      .container
        .row
          .testimonial-style3.owl-carousel.owl-theme.owl-dark-pagination.owl-pagination-bottom
            // testimonial item
            .item
              .col-md-12.col-sm-12.col-xs-12.xs-no-padding-15.text-center
                .margin-ten-bottom
                  img#tz-bg-64.img-round-100(src='images/testimonial1.jpg', data-img-size='(W)149px X (H)149px', alt='')
                #tz-slider-text94.text-medium.margin-six-bottom.tz-text.width-95.sm-width-100.center-col
                  h2 Focus on Needs
                  br
                  p
                   | Understand what is valuable about your organisation and what are the processes to serve them.
                   | Identify how to find digital technology that will optimize the value.
                   | Technology will drive down costs.
                   | Customers find installation services, delivery time, product quality, warranties, and other services more important and are willing to pay a premium.. ©​
            // end testimonial item
            // testimonial item
            .item
              .col-md-12.col-sm-12.col-xs-12.xs-no-padding-15.text-center
                .margin-ten-bottom
                  img#tz-bg-65.img-round-100(src='images/testimonial2.jpg', data-img-size='(W)149px X (H)149px', alt='')
                #tz-slider-text96.text-medium.margin-six-bottom.tz-text.width-95.sm-width-100.center-col
                  h2 Be Strategic 
                  p
                  | Develop a digital strategy for using technology to create and deliver that unique value.
                  | Consider clients and employees wish list and identify the technologies that could meet those requirements.
                  | Integrate technology implementation plan into a broader productivity enhancement program. ©​
            // end testimonial item
            // testimonial item
            .item
              .col-md-12.col-sm-12.col-xs-12.xs-no-padding-15.text-center
                .margin-ten-bottom
                  img#tz-bg-66.img-round-100(src='images/testimonial3.jpg', data-img-size='(W)149px X (H)149px', alt='')
                #tz-slider-text98.text-medium.margin-six-bottom.tz-text.width-95.sm-width-100.center-col
                  h2 Employees 
                  p
                  | Involve employees in selecting the technology you want to implement.
                  | Share the vision for why this choice is important to the company, how it will enhance the value you deliver and how it will affect employees’ tasks.
                  | Have An open and honest discussion about the technology will lessen concerns and get the staff excited.
                  | Offer the appropriate training for employees who will be using the new technology. ©​
            // end testimonial item
            // testimonial item
            .item
              .col-md-12.col-sm-12.col-xs-12.xs-no-padding-15.text-center
                .margin-ten-bottom
                  img#tz-bg-67.img-round-100(src='images/teestimonial4.jpg', data-img-size='(W)149px X (H)149px', alt='')
                #tz-slider-text100.text-medium.margin-six-bottom.tz-text.width-95.sm-width-100.center-col
                  h2 Walk, then run ​
                  p
                  | Start with a pilot project, by capturing data needed to process information and measure key performance indicators as part of a continuous improvement program solution. 
                  | Build on that success, second step is to share key performance indicators with each mobile or computer, measuring whether it is being perform on time, ahead of time or delayed. ©​ 
            // end testimonial item
    section#team-section1.bg-gray.builder-bg.padding-110px-tb.xs-padding-60px-tb.border-none
      .container
        .row
          // section title
          .col-md-12.col-sm-12.col-xs-12
            h2.title-extra-large-2.xs-title-extra-large.line-height-50.text-dark-gray.letter-spacing-minus-1.alt-font.margin-three-bottom.xs-margin-fifteen-bottom.tz-text.text-center Agile Approach by Data Flow
            .text-large.width-60.margin-lr-auto.md-width-70.sm-width-100.tz-text.margin-thirteen-bottom.xs-margin-nineteen-bottom
              p
               | IT department has difficulty promoting an Agile method when its staff must manage several systems by department in silos. Lack of control of data content is already costly and time consuming, it becomes a disaster that an organization is waiting for tools when it comes to compliance needs.
              p
               | Data Flow will eliminate risks while optimizing costs, resources, and employee time.
               
              ul
                li
                  p Manage content;
                li
                  p Allows your IT experts to exercise centralized back-end control, security, and auditing control;
                li
                  p Provides your organization's services with the flexibility to customize archiving structures, nomenclature, and business rules so that your Data Flows fit your tailor-made processes;
              p
               | Data Flow integrates with your existing IT portfolio through a single connector, supporting intelligent decision making across the entire enterprise by integrating data from each database. 
              ul
                li
                  p Easy to acquire;
                li
                  p Easy to deploy;
                li
                  p Easy to support;
                li
                  p Easy to extend;
              p
               | During the design phase of the solution we will configure the work processes, customize the interface templates, and even develop the workflow of the application modules.
              p
               | Flexibility enables service managers to easily customize and manage their own systems, keeping the same habits as they have today, without the assistance of the IT department.
              p
               | It's this ingenious approach to managing Data tailored to your business rules and business process sub-rules.
              p
               | We bring you a value proposition that maximizes the agility of your organization without sacrificing value for money.
          // end section title

    section#title-section1.padding-110px-tb.xs-padding-top-60px.no-padding-bottom.bg-white.builder-bg.border-none
      .container
        .row
          // section title
          .col-md-12.col-sm-12.col-xs-12.text-center
            h2.title-extra-large-2.xs-title-extra-large.line-height-50.text-dark-gray.letter-spacing-minus-1.alt-font.margin-three-bottom.xs-margin-fifteen-bottom.tz-text 
             | Articles
          // end section title
    section#blog-section5.padding-110px-tb.xs-padding-60px-tb.no-padding-top.bg-white.builder-bg.border-none
      .container
        .row
          // blog item
          .col-md-3.col-sm-6.col-xs-12.sm-margin-thirteen-bottom.xs-margin-nineteen-bottom.sm-clear-both
            .blog-post
              // blog image
              .blog-image.margin-twenty-bottom.sm-margin-ten-bottom
              // end blog image
              // blog details
              .post-details
                a.tz-text.text-dark-gray.blog-post-title.text-large.font-weight-600.display-block.margin-ten-bottom.xs-margin-five-bottom(href='#blog-section5')
                 | Build Strategic Infrastructure
                .text-medium.tz-text
                  p
                    | With so much information, companies need their systems to allow information to be easily searchable and retrievable. Existing silos need to be integrated and mobile workers need to be able to connect securely. The people, process and technology solution we offer help organisations design, deploy and maintain strategic infrastructures that can be robust enough to provide secure and relevant business.
              // end blog details
          // end blog item
          // blog item
          .col-md-3.col-sm-6.col-xs-12.sm-margin-thirteen-bottom.xs-margin-nineteen-bottom
            .blog-post
              // blog image
              .blog-image.margin-twenty-bottom.sm-margin-ten-bottom
              // end blog image
              // blog details
              .post-details
                a.tz-text.text-dark-gray.blog-post-title.text-large.font-weight-600.display-block.margin-ten-bottom.xs-margin-five-bottom(href='#blog-section5')
                 | Managing Organizational Change 
                .text-medium.tz-text
                  p
                    | The best new technologies and business processes will only succeed if employees understand, accept, and adopt them. Each modules of our solution drive buy-in, eliminate barriers to change, and lead employees through understanding, acceptance and sustained deployment.
              // end blog details
          // end blog item
          // blog item
          .col-md-3.col-sm-6.col-xs-12.sm-margin-eight-bottom.sm-clear-both.xs-margin-nineteen-bottom
            .blog-post
              // blog image
              .blog-image.margin-twenty-bottom.sm-margin-ten-bottom
              // end blog image
              // blog details
              .post-details
                a.tz-text.text-dark-gray.blog-post-title.text-large.font-weight-600.display-block.margin-ten-bottom.xs-margin-five-bottom(href='#blog-section5')
                 | Maximize iWorker Productivity
                .text-medium.tz-text
                  p
                    | iWorker are knowledge or information workers who rely on electronic and printed information in their daily jobs. The time spent searching for information or re-creating existing information provides a drain on productivity. By assessing how information is flowing through client’s organisation, we determine precisely where the holes are. Each modules of our solution help make information more readily accessible, automate user workflow to improve productivity, and increase collaboration and innovation.
              // end blog details
          // end blog item
          // blog item
          .col-md-3.col-sm-6.col-xs-12.sm-margin-eight-bottom.xs-margin-nineteen-bottom
            .blog-post
              // blog image
              .blog-image.margin-twenty-bottom.sm-margin-ten-bottom
              // end blog image
              // blog details
              .post-details
                a.tz-text.text-dark-gray.blog-post-title.text-large.font-weight-600.display-block.margin-ten-bottom.xs-margin-five-bottom(href='#blog-section5')
                 | Optimize Information
                .text-medium.tz-text
                  p
                    | The flood of information is overwhelming for most departments within the organisation. We improve data accessibility and availability to authorized users, automate fragmented and unstructured information activities, and securely mobilize valuable information contained in paper documents and intensive data entry workflows.
              // end blog details
        .row
          // blog item
          .col-md-3.col-sm-6.col-xs-12.sm-margin-eight-bottom.xs-margin-nineteen-bottom
            .blog-post
              // blog image
              .blog-image.margin-twenty-bottom.sm-margin-ten-bottom
              // end blog image
              // blog details
              .post-details
                a.tz-text.text-dark-gray.blog-post-title.text-large.font-weight-600.display-block.margin-ten-bottom.xs-margin-five-bottom(href='#blog-section5')
                 | Ensure Information Security & Compliance
                .text-medium.tz-text
                  p
                    | Most organisations are concerned about the privacy and security of their information (paper or digital information found within and outside their own networks) as well as compliance with government and industry regulations. We offer both business processes and unique technologies to help secure and protect the organisation intellectual property data, clients data and employees data, meet international and local compliance regulations, and ability to pro-actively monitor  and manage information security and compliance across multiple entitites.
              // end blog details
          // blog item
          .col-md-3.col-sm-6.col-xs-12.sm-margin-eight-bottom.xs-margin-nineteen-bottom
            .blog-post
              // blog image
              .blog-image.margin-twenty-bottom.sm-margin-ten-bottom
              // end blog image
              // blog details
              .post-details
                a.tz-text.text-dark-gray.blog-post-title.text-large.font-weight-600.display-block.margin-ten-bottom.xs-margin-five-bottom(href='#blog-section5')
                 | Streamline Business Process
                .text-medium.tz-text
                  p
                    | A key aspect of the solution we provide is streamlining the information-based processes. We improve clients’ existing processes, so that they are faster, more secure and more effective. Whether we deploy new technologies or leverage existing system, we accompany the companies we serve to streamline and simplify business processes, which lead to lower costs, greater speed to market, better collaboration, improved productivity and enhancements in business agility.
              // end blog details
          // blog item
          .col-md-3.col-sm-6.col-xs-12.sm-margin-eight-bottom.xs-margin-nineteen-bottom
            .blog-post
              // blog image
              .blog-image.margin-twenty-bottom.sm-margin-ten-bottom
              // end blog image
              // blog details
              .post-details
                a.tz-text.text-dark-gray.blog-post-title.text-large.font-weight-600.display-block.margin-ten-bottom.xs-margin-five-bottom(href='#blog-section5')
                 | Drive Cost-Effectiveness
                .text-medium.tz-text
                  p
                    | We help clients make cost-effective decisions relevant to their business operations and growth to maximize their return on technology, people and information investment by minimizing costs associated with redundant or under-utilized systems, inefficient processes, and technologies that do not meet current business needs. 
              // end blog details
          // end blog item
          // end view more button

    section#social-widget4.bg-gray.builder-bg.padding-80px-tb.xs-padding-60px-tb.border-none
      .container
        .row
          .col-md-10.col-md-offset-1.col-sm-12.text-center.social-icon-color
            .col-md-4.col-sm-4.xs-margin-nineteen-bottom
              a.text-dark-gray.alt-font.text-medium.tz-text.font-weight-500(target='_blank', href='https://twitter.com/intent/tweet?text=Get-high-conversion-rates-on-your-landing-page.-http://www.themezaa.com/')
                i.fa.fa-twitter.icon-large.margin-six-bottom.xs-margin-three-bottom.tz-icon-color
                br
                | Share on Twitter
            .col-md-4.col-sm-4.xs-margin-nineteen-bottom
              a.text-dark-gray.alt-font.text-medium.tz-text.font-weight-500(target='_blank', href='http://www.facebook.com/sharer/sharer.php?u=http://www.themezaa.com/')
                i.fa.fa-facebook.icon-large.margin-six-bottom.xs-margin-three-bottom.tz-icon-color
                br
                | Share on Facebook
            .col-md-4.col-sm-4
              a.text-dark-gray.alt-font.text-medium.tz-text.font-weight-500(target='_blank', href='https://plus.google.com/share?url=http://www.themezaa.com/')
                i.fa.fa-google-plus.icon-large.margin-six-bottom.xs-margin-three-bottom.tz-icon-color
                br
                | Share on Google+
    section#contact.padding-110px-tb.xs-padding-top-60px.no-padding-bottom.bg-white.builder-bg.border-none
      .container
        .row
          // section title
          .col-md-12.col-sm-12.col-xs-12.text-center
            h2.title-extra-large-2.xs-title-extra-large.line-height-50.text-dark-gray.letter-spacing-minus-1.alt-font.margin-three-bottom.xs-margin-fifteen-bottom.tz-text Contact information
            .text-medium.width-60.margin-lr-auto.md-width-70.sm-width-100.tz-text.margin-thirteen-bottom.xs-margin-nineteen-bottom
              | You want to ask a question, need our expertise ?
          // end section title
    section#contact-section5.padding-110px-tb.bg-white.no-padding-top.builder-bg.xs-padding-60px-tb
      .container
        .row.four-column

          // end feature box
          // feature box
          .col-md-4.col-sm-6.col-xs-12.sm-margin-nine-bottom.xs-margin-fifteen-bottom.text-center
            .feature-box.xs-margin-thirteen.xs-no-margin-tb
              i.fa.ti-mobile.text-poison-green.icon-large.tz-icon-color.margin-ten-bottom.xs-margin-seven-bottom
              h3.feature-title.text-dark-gray.text-medium.font-weight-500.alt-font.display-block.margin-three-bottom.xs-margin-five-bottom.tz-text.font-weight-400 Call Us Today!
              .feature-text.text-medium.center-col.tz-text
                |  (M) +1 (438) 886-1245
          // end feature box
          // feature box
          .col-md-4.col-sm-6.col-xs-12.text-center.xs-margin-fifteen-bottom.sm-clear-both
            .feature-box.xs-margin-thirteen.xs-no-margin-tb
              i.fa.ti-email.text-poison-green.icon-large.tz-icon-color.margin-ten-bottom.xs-margin-seven-bottom
              h3.feature-title.text-dark-gray.text-medium.font-weight-500.alt-font.display-block.margin-three-bottom.xs-margin-five-bottom.tz-text.font-weight-400 Email
              .feature-text.text-medium.center-col
                a.tz-text(href='mailto:bp@dataflowsolution.com') bp@dataflowsolution.com
                br
                a.tz-text(href='mailto:admin@dataflowsolution.com') admin@dataflowsolution.com
          // end feature box
          // feature box
          .col-md-4.col-sm-6.col-xs-12.text-center
            .feature-box.xs-margin-thirteen.xs-no-margin-tb
              i.fa.ti-time.text-poison-green.icon-large.tz-icon-color.margin-ten-bottom.xs-margin-seven-bottom
              h3.feature-title.text-dark-gray.text-medium.font-weight-500.alt-font.display-block.margin-three-bottom.xs-margin-five-bottom.tz-text.font-weight-400 Working Hours
              .feature-text.text-medium.center-col.tz-text
                | Monday to Friday - 9 AM to 7 PM
                br
                | Saturday - 10 AM to 2 PM
          // end feature box
    footer#footer-section13.bg-dark-gray.padding-60px-tb.xs-padding-40px-tb.builder-bg
      .container
        .row
          // logo
          .col-md-3.col-sm-12.col-xs-12.sm-text-center.sm-margin-five-bottom
            a.inner-link(href='#home')
              img(src='images/ocean_dataflow_final_nobkg (3).png', alt='')
          // end logo
          // caption
          .col-md-6.col-sm-12.col-xs-12.text-center.sm-margin-five-bottom
            .tz-text.text-medium.sm-margin-two-bottom
              p.no-margin-bottom
                h3(style="color:white;") Imagine 
                 &nbsp
                 small the potential produced by freeing all your ressources from document management...
          // end caption
          // social elements
          .col-md-3.col-sm-12.col-xs-12.text-right.sm-text-center.social-icon
            a(href='#')
              i.fa.fa-facebook.text-white.tz-icon-color(aria-hidden='true')
            a(href='#')
              i.fa.fa-google-plus.text-white.tz-icon-color(aria-hidden='true')
            a(href='#')
              i.fa.fa-twitter.text-white.tz-icon-color(aria-hidden='true')
            a(href='#')
              i.fa.fa-pinterest.text-white.tz-icon-color(aria-hidden='true')
    // javascript libraries
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/jquery.appear.js')
    script(type='text/javascript', src='js/smooth-scroll.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    // wow animation
    script(type='text/javascript', src='js/wow.min.js')
    // owl carousel
    script(type='text/javascript', src='js/owl.carousel.min.js')
    // images loaded
    script(type='text/javascript', src='js/imagesloaded.pkgd.min.js')
    // isotope
    script(type='text/javascript', src='js/jquery.isotope.min.js')
    // magnific popup
    script(type='text/javascript', src='js/jquery.magnific-popup.min.js')
    // navigation
    script(type='text/javascript', src='js/jquery.nav.js')
    // equalize
    script(type='text/javascript', src='js/equalize.min.js')
    // fit videos
    script(type='text/javascript', src='js/jquery.fitvids.js')
    // number counter
    script(type='text/javascript', src='js/jquery.countTo.js')
    // time counter
    script(type='text/javascript', src='js/counter.js')
    // twitter Fetcher
    script(type='text/javascript', src='js/twitterFetcher_min.js')
    // main
    script(type='text/javascript', src='js/main.js')
