doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1')
    // title
    title=title
    meta(name='description', content='LeadGen is a conversion ratio and speed optimized multi-purpose marketing landing page template with drag & drop page builder and tons of readymade elements and demos with greater level of customization possibilities.')
    meta(name='keywords', content='Marketing, landing page, creative, html5, css3, page builder, drag & drop, multi-purpose, one page, aweber, mailchimp, active campaign, campaign monitor, get response, mailer lite, custom form, product, hotel and resort, resume, personal, restaurant, corporate business, interior design, software, spa salon, travel agency, app landing page, design agency, start-up, e-learning, sports and gym, seo, wedding invitation, hosting, online shopping, yoga and fitness, music show, finance and account, e-book, event, medical, real estate, portfolio, digital marketing, inner content page, sign-up, 404 not found, coming soon')
    meta(name='author', content='lgauthor')
    // favicon
    link(rel='shortcut icon', href='images/icon/favicon.png')
    // animation
    link(rel='stylesheet', href='css/animate.css')
    // bootstrap
    link(rel='stylesheet', href='css/bootstrap.min.css')
    // font-awesome icon
    link(rel='stylesheet', href='css/font-awesome.min.css')
    // themify-icons
    link(rel='stylesheet', href='css/themify-icons.css')
    // owl carousel
    link(rel='stylesheet', href='css/owl.transitions.css')
    link(rel='stylesheet', href='css/owl.carousel.css')
    // magnific popup
    link(rel='stylesheet', href='css/magnific-popup.css')
    // base
    link(rel='stylesheet', href='css/base.css')
    // elements
    link(rel='stylesheet', href='css/elements.css')
    // responsive
    link(rel='stylesheet', href='css/responsive.css')
    //if IE 9
      link(rel='stylesheet', type='text/css', href='css/ie.css')
    //if IE
      script(src='js/html5shiv.min.js')
  body
    header#header-section5.header-style2
      // nav
      nav.navbar.bg-white.tz-header-bg.no-margin.alt-font.shrink-header.light-header
        .container.navigation-menu
          .row
            // logo
            .col-md-3.col-sm-4.col-xs-9
              a.inner-link(href='#home')
                img(alt='', src='images/ocean_dataflow03.jpg')
            // end logo
            .col-md-9.col-sm-8.col-xs-3.position-inherit
              button.navbar-toggle.collapsed(data-target='#bs-example-navbar-collapse-1', data-toggle='collapse', type='button')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              #bs-example-navbar-collapse-1.collapse.navbar-collapse.pull-right
                ul.nav.navbar-nav.font-weight-500
                  li.propClone
                    a.inner-link(href='#callto-action6') ABOUT
                  li.propClone
                    a.inner-link(href='#blog-section6') SERVICES
                  li.propClone
                    a.inner-link(href='#tab-section2') SOLUTIONS
                  li.propClone
                    a.inner-link(href='#testimonials-section14') TESTIMONIALS
                  li.propClone
                    a.inner-link(href='#team-section1') TEAM
                  li.propClone
                    a.inner-link(href='#title-section1') NEWS
                  li.propClone
                    a.inner-link(href='#contact') CONTACT
      // end nav
    section#home.padding-110px-tb.cover-background.tz-builder-bg-image.border-none.bg-img-one(data-img-size='(W)1920px X (H)961px', style="background: linear-gradient(rgba(0,0,0,0.65), rgba(10,10,10,0.7)) repeat scroll 0% 0%, transparent url('../images/customer-lifecycle-optimization.jpg') repeat scroll 0% 0%;")
      .container.one-second-screen.position-relative.xs-height-auto
        .row
          .slider-typography.xs-position-static
            .slider-text-middle-main
              .slider-text-middle.text-left
                // logo
                .col-lg-6.col-md-8.col-sm-12.col-xs-12.text-center.center-col
                  .margin-ten-bottom
                    img(alt='', src='images/ocean_dataflow_final_nobkg (3).png')
                  h2.tz-text.alt-font.text-white.title-extra-large-3.xs-title-extra-large-3 Customized & Agile Integration of Dataflow
                  span.tz-text.text-small2.alt-font.text-poison-green.letter-spacing-4.margin-seven-top.display-block(style="color:#01A4FC;") Imagine ...
    section#callto-action6.padding-110px-tb.bg-white.footer-top.builder-bg.xs-padding-60px-tb.border-none
      .container
        .row
          // section title
          .col-md-8.col-sm-12.col-xs-12.margin-two-bottom.text-center.xs-margin-fifteen-bottom.center-col
            h2.title-extra-large-2.xs-title-extra-large.line-height-50.text-dark-gray.letter-spacing-minus-1.width-85.md-width-100.center-col.alt-font.tz-text.margin-eight-bottom.display-block The very best solution for your business website.
            .title-small.xs-title-small.tz-text.font-weight-300.width-90.md-width-100.center-col.margin-ten-bottom.tz-text
              p
                | We've been crafting beautiful websites, launching stunning brands & making clients happy for years. With our prestigious craftsmanship, remarkable client care and passion for design.
          // end section title
          // button
          .col-md-12.col-sm-12.col-xs-12.text-center
            a.btn-medium.btn-circle.btn.text-white.bg-poison-green(href='#team-section1')
              span.tz-text MEET OUR PEOPLE
              i.fa.fa-long-arrow-right.text-medium.tz-icon-color
          // end button
    section#blog-section6.padding-110px-tb.xs-padding-60px-tb.blog-style1.bg-dark-blue.builder-bg.border-none
      .container
        // section title
        .row
          .col-md-12.col-sm-12.col-xs-12.text-center
            h2.title-extra-large-2.xs-title-extra-large.line-height-50.text-poison-green.letter-spacing-minus-1.alt-font.font-weight-500.margin-three-bottom.xs-margin-fifteen-bottom.tz-text Explore premium services
            .text-medium.width-60.margin-lr-auto.md-width-70.sm-width-100.tz-text.margin-thirteen-bottom.text-blue-gray.xs-margin-nineteen-bottom
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        // end section title
        .row
          // blog item
          .col-md-4.col-sm-4.col-xs-12.xs-margin-nineteen-bottom
            .blog-post
              // blog image
              .blog-image
                a(href='#')
                  img.img100(alt='', src='http://placehold.it/800x533', data-img-size='(W)800px X (H)533px')
              // end blog image
              // blog details
              .post-details.bg-white.tz-background-color
                a.tz-text.text-dark-gray.blog-post-title.text-large.alt-font.font-weight-500.margin-five-bottom.display-inline-block.md-margin-five-bottom(href='#') Creativity takes courage
                .text-medium.tz-text
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
              // end blog details
          // end blog item
          // blog item
          .col-md-4.col-sm-4.col-xs-12.xs-margin-nineteen-bottom
            .blog-post
              // blog image
              .blog-image
                a(href='#')
                  img.img100(alt='', src='http://placehold.it/800x533', data-img-size='(W)800px X (H)533px')
              // end blog image
              // blog details
              .post-details.bg-white.tz-background-color
                a.tz-text.text-dark-gray.blog-post-title.text-large.alt-font.font-weight-500.margin-five-bottom.display-inline-block.md-margin-five-bottom(href='#') An artist is to believe in life
                .text-medium.tz-text
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
              // end blog details
          // end blog item
          // blog item
          .col-md-4.col-sm-4.col-xs-12.xs-margin-nineteen-bottom
            .blog-post
              // blog image
              .blog-image
                a(href='#')
                  img.img100(alt='', src='http://placehold.it/800x533', data-img-size='(W)800px X (H)533px')
              // end blog image
              // blog details
              .post-details.bg-white.tz-background-color
                a.tz-text.text-dark-gray.blog-post-title.text-large.alt-font.font-weight-500.margin-five-bottom.display-inline-block.md-margin-five-bottom(href='#') One eye sees the other feels
                .text-medium.tz-text
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
              // end blog details
          // end blog item
    section#feature-section7.padding-110px-tb.feature-style4.bg-white.builder-bg.xs-padding-60px-tb.border-none
      .container
        .row
          .col-md-12.col-sm-12.col-xs-12.four-column
            // feature box
            .col-md-3.col-sm-6.col-xs-12.text-center.sm-margin-nine-bottom.xs-margin-nineteen-bottom
              .margin-fourteen-bottom.sm-margin-thirteen-bottom.xs-margin-nine-bottom
                img(alt='', src='images/restaurant-service-icon01.png', data-img-size='(W)90px X (H)90px')
              h3.text-medium.text-dark-gray.alt-font.font-weight-500.margin-five-bottom.display-block.sm-margin-four-bottom.xs-margin-five-bottom.tz-text Remarkable Style
              .text-medium.tz-text
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
            // end feature box
            // feature box
            .col-md-3.col-sm-6.col-xs-12.text-center.sm-margin-nine-bottom.xs-margin-nineteen-bottom
              .margin-fourteen-bottom.sm-margin-thirteen-bottom.xs-margin-nine-bottom
                img(alt='', src='images/restaurant-service-icon02.png', data-img-size='(W)90px X (H)90px')
              h3.text-medium.text-dark-gray.alt-font.font-weight-500.margin-five-bottom.display-block.sm-margin-four-bottom.xs-margin-five-bottom.tz-text Inventive Elements
              .text-medium.tz-text
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
            // end feature box
            // feature box
            .col-md-3.col-sm-6.col-xs-12.text-center.xs-margin-nine-bottom.xs-margin-nineteen-bottom
              .margin-fourteen-bottom.sm-margin-thirteen-bottom.xs-margin-nine-bottom
                img(alt='', src='images/restaurant-service-icon03.png', data-img-size='(W)90px X (H)90px')
              h3.text-medium.text-dark-gray.alt-font.font-weight-500.margin-five-bottom.display-block.sm-margin-four-bottom.xs-margin-five-bottom.tz-text Video Presentation
              .text-medium.tz-text
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
            // end feature box
            // feature box
            .col-md-3.col-sm-6.col-xs-12.text-center
              .margin-fourteen-bottom.sm-margin-thirteen-bottom.xs-margin-nine-bottom
                img(alt='', src='images/restaurant-service-icon04.png', data-img-size='(W)90px X (H)90px')
              h3.text-medium.text-dark-gray.alt-font.font-weight-500.margin-five-bottom.display-block.sm-margin-four-bottom.xs-margin-five-bottom.tz-text Unlimited Layouts
              .text-medium.tz-text
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
            // end feature box
    section#tab-section2.bg-light-gray.builder-bg.border-none
      .container-fluid
        .row.equalize
          .col-md-6.col-sm-12.col-xs-12.display-table
            .display-table-cell-vertical-middle.padding-twenty-two.md-padding-seven.xs-no-padding-lr.xs-padding-twenty-nine
              h2.title-extra-large-2.xs-title-extra-large.line-height-50.text-dark-gray.letter-spacing-minus-1.width-90.md-width-100.margin-fifteen-bottom.tz-text.sm-margin-ten-bottom.xs-margin-fifteen-bottom.alt-font The hardest part of starting up is starting out for you.
              #accordion.panel-group.accordion-style1
                // tab content
                .panel.panel-default
                  .panel-heading.tz-background-color
                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                      .panel-title
                        span.builder-bg.alt-font.tz-text.font-weight-500.text-poison-green.tab-tag 01
                        span.text-dark-gray.tz-text We have the right solutions
                        i.fa.fa-angle-up.pull-right.text-dark-gray.tz-icon-color
                  #collapseOne.panel-collapse.collapse.in
                    .panel-body.text-medium.tz-text
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                // end tab content
                // tab content
                .panel.panel-default
                  .panel-heading.tz-background-color
                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                      .panel-title
                        span.builder-bg.alt-font.tz-text.font-weight-500.text-poison-green.tab-tag 02
                        span.text-dark-gray.tz-text The best team available
                        i.indicator.fa.fa-angle-down.pull-right.text-dark-gray.tz-icon-color
                  #collapseTwo.panel-collapse.collapse
                    .panel-body.text-medium.tz-text
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                // end tab content
                // tab content
                .panel.panel-default
                  .panel-heading.tz-background-color
                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                      .panel-title
                        span.builder-bg.alt-font.tz-text.font-weight-500.text-poison-green.tab-tag 03
                        span.text-dark-gray.tz-text We are proud of our solution
                        i.indicator.fa.fa-angle-down.pull-right.text-dark-gray.tz-icon-color
                  #collapseThree.panel-collapse.collapse
                    .panel-body.text-medium.tz-text
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                // end tab content
          .col-md-6.col-sm-12.col-xs-12.tz-builder-bg-image.sm-height-600-px.xs-height-400-px.cover-background.bg-img-two(data-img-size='(W)1000px X (H)800px', style="background:linear-gradient(rgba(0,0,0,0.01), rgba(0,0,0,0.01)), url('http://placehold.it/1000x800')")
    section#counter-section4.padding-110px-tb.bg-white.builder-bg.xs-padding-60px-tb.border-none
      .container
        .row
          .col-md-12.col-sm-12.col-xs-12.text-center
            // timer
            #counter
              .col-md-3.col-sm-3.col-xs-12.first.xs-margin-seventeen-bottom
                img.margin-ten-bottom.xs-margin-five-bottom(src='images/heart.png', data-img-size='(W)38px X (H)38px', alt='')
                .counter-content
                  span.timer.counter-number.text-dark-gray.title-extra-large.sm-title-extra-large.alt-font.letter-spacing-minus-1.tz-text.font-weight-500(data-to='1500', data-speed='7000')
                  span.text-small.sm-text-small.display-block.tz-text PROJECTS
              .col-md-3.col-sm-3.col-xs-12.first.xs-margin-seventeen-bottom
                img.margin-ten-bottom.xs-margin-five-bottom(src='images/smiley.png', data-img-size='(W)38px X (H)38px', alt='')
                .counter-content
                  span.timer.counter-number.text-dark-gray.title-extra-large.sm-title-extra-large.alt-font.letter-spacing-minus-1.tz-text.font-weight-500(data-to='1865', data-speed='7000')
                  span.text-small.sm-text-small.display-block.tz-text CLIENTS
              .col-md-3.col-sm-3.col-xs-12.first.xs-margin-seventeen-bottom
                img.margin-ten-bottom.xs-margin-five-bottom(src='images/comment.png', data-img-size='(W)38px X (H)38px', alt='')
                .counter-content
                  span.timer.counter-number.text-dark-gray.title-extra-large.sm-title-extra-large.alt-font.letter-spacing-minus-1.tz-text.font-weight-500(data-to='1325', data-speed='7000')
                  span.text-small.sm-text-small.display-block.tz-text COMMENTS
              .col-md-3.col-sm-3.col-xs-12.first
                img.margin-ten-bottom.xs-margin-five-bottom(src='images/anchor.png', data-img-size='(W)38px X (H)38px', alt='')
                .counter-content
                  span.timer.counter-number.text-dark-gray.title-extra-large.sm-title-extra-large.alt-font.letter-spacing-minus-1.tz-text.font-weight-500(data-to='1299', data-speed='7000')
                  span.text-small.sm-text-small.display-block.tz-text SUPPORTS
            // end timer
    section#content-section24.padding-150px-tb.xs-padding-60px-tb.bg-dark-blue.cover-background.tz-builder-bg-image.border-none.bg-img-three(data-img-size='(W)1920px X (H)994px', style="background:linear-gradient(rgba(25,25,25,0.7), rgba(25,25,25,0.7)), url('http://placehold.it/1920x687')")
      .container
        .row.equalize.sm-equalize-auto
          // feature content
          .col-lg-6.col-md-6.col-sm-12.col-xs-12.display-table
            .display-table-cell-vertical-middle
              h2.alt-font.text-white.title-extra-large.line-height-40.sm-section-title-large.width-90.md-width-100.xs-section-title-large.margin-twelve-bottom.md-margin-ten-bottom.sm-margin-five-bottom.xs-margin-ten-bottom.tz-text We understand you and your business, We have the right solutions for you.
              a.btn-medium.btn-circle.btn.bg-poison-green.btn-circle.text-dark-gray.md-margin-fifteen-bottom.sm-margin-twenty-bottom.xs-margin-twenty-nine-bottom(href='#subscribe-section1')
                span.tz-text GET STARTED NOW!
                i.fa.fa-long-arrow-right.text-medium.tz-icon-color
          // end feature content
          // image
          .col-lg-5.col-md-6.col-sm-12.col-xs-12.display-table
            .display-table-cell-vertical-middle
              .col-md-12.col-sm-12.col-xs-12.no-padding-lr.margin-thirteen-bottom.padding-four-bottom.sm-padding-one-bottom.sm-margin-seven-bottom.xs-margin-fifteen-bottom.border-bottom-light.tz-border
                h3.text-extra-large.text-white.vertical-align-middle.xs-margin-five-bottom.xs-text-extra-large.alt-font.tz-text The best team available.
                .text-medium.text-light-gray.vertical-align-middle.tz-text
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting. Lorem Ipsum has been he standard dummy.
              .col-md-12.col-sm-12.col-xs-12.no-padding-lr
                h3.text-extra-large.text-white.vertical-align-middle.xs-margin-five-bottom.xs-text-extra-large.alt-font.tz-text We are proud of our work.
                .text-medium.text-light-gray.vertical-align-middle.tz-text
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting. Lorem Ipsum has been he standard dummy.
          // end image
    section#testimonials-section14.builder-bg.testimonial-style1.bg-white.padding-110px-tb.xs-padding-top-60px.border-none
      .container
        .row
          .testimonial-style3.owl-carousel.owl-theme.owl-dark-pagination.owl-pagination-bottom
            // testimonial item
            .item
              .col-md-12.col-sm-12.col-xs-12.xs-no-padding-15.text-center
                .margin-ten-bottom
                  img#tz-bg-64.img-round-100(src='http://placehold.it/149x149', data-img-size='(W)149px X (H)149px', alt='')
                #tz-slider-text94.text-medium.margin-six-bottom.tz-text.width-95.sm-width-100.center-col
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since type.
                #tz-slider-text95.text-small.alt-font.text-dark-gray.tz-text.font-weight-500 MELISSA SMITH - GOOGLE
            // end testimonial item
            // testimonial item
            .item
              .col-md-12.col-sm-12.col-xs-12.xs-no-padding-15.text-center
                .margin-ten-bottom
                  img#tz-bg-65.img-round-100(src='http://placehold.it/149x149', data-img-size='(W)149px X (H)149px', alt='')
                #tz-slider-text96.text-medium.margin-six-bottom.tz-text.width-95.sm-width-100.center-col
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since type.
                #tz-slider-text97.text-small.alt-font.text-dark-gray.tz-text.font-weight-500 JEREMY GIRARD - MICROSOFT
            // end testimonial item
            // testimonial item
            .item
              .col-md-12.col-sm-12.col-xs-12.xs-no-padding-15.text-center
                .margin-ten-bottom
                  img#tz-bg-66.img-round-100(src='http://placehold.it/149x149', data-img-size='(W)149px X (H)149px', alt='')
                #tz-slider-text98.text-medium.margin-six-bottom.tz-text.width-95.sm-width-100.center-col
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since type.
                #tz-slider-text99.text-small.alt-font.text-dark-gray.tz-text.font-weight-500 PAUL SCRIVENS - FACEBOOK
            // end testimonial item
            // testimonial item
            .item
              .col-md-12.col-sm-12.col-xs-12.xs-no-padding-15.text-center
                .margin-ten-bottom
                  img#tz-bg-67.img-round-100(src='http://placehold.it/149x149', data-img-size='(W)149px X (H)149px', alt='')
                #tz-slider-text100.text-medium.margin-six-bottom.tz-text.width-95.sm-width-100.center-col
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since type.
                #tz-slider-text101.text-small.alt-font.text-dark-gray.tz-text.font-weight-500 NATHAN FORD - GOOGLE
            // end testimonial item
            // testimonial item
            .item
              .col-md-12.col-sm-12.col-xs-12.xs-no-padding-15.text-center
                .margin-ten-bottom
                  img#tz-bg-68.img-round-100(src='http://placehold.it/149x149', data-img-size='(W)149px X (H)149px', alt='')
                #tz-slider-text102.text-medium.margin-six-bottom.tz-text.width-95.sm-width-100.center-col
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since type.
                #tz-slider-text103.text-small.alt-font.text-dark-gray.tz-text.font-weight-500 MELISSA SMITH - GOOGLE
            // end testimonial item
    section#callto-action2.padding-60px-tb.bg-poison-green.builder-bg.border-none
      .container
        .row.equalize
          .col-md-12.col-sm-12.col-xs-12.text-center
            .display-inline-block.sm-display-block.vertical-align-middle.margin-five-right.sm-no-margin-right.sm-margin-ten-bottom.tz-text.alt-font.text-white.title-medium.sm-title-medium.font-weight-400 The very best solution for your business website.
            a.btn-medium.btn.text-white.highlight-button-white-border.btn-circle(href='#tab-section2')
              span.tz-text GET SOLUTIONS
              i.fa.fa-long-arrow-right.text-medium.tz-icon-color
    section#team-section1.bg-gray.builder-bg.padding-110px-tb.xs-padding-60px-tb.border-none
      .container
        .row
          // section title
          .col-md-12.col-sm-12.col-xs-12.text-center
            h2.title-extra-large-2.xs-title-extra-large.line-height-50.text-dark-gray.letter-spacing-minus-1.alt-font.margin-three-bottom.xs-margin-fifteen-bottom.tz-text The best team available
            .text-medium.width-60.margin-lr-auto.md-width-70.sm-width-100.tz-text.margin-thirteen-bottom.xs-margin-nineteen-bottom
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          // end section title
        .row
          // team member
          .col-md-4.col-sm-4.col-xs-12.text-center.xs-margin-fifteen-bottom
            .team.position-relative
              img.margin-twelve-bottom(alt='', src='http://placehold.it/750x893', data-img-size='(W)750px X (H)893px')
              .team-details.text-center
                .team-name.padding-twelve-bottom.margin-twelve-bottom.border-bottom.tz-border
                  span.alt-font.text-dark-gray.display-block.tz-text.font-weight-500 SARA SMITH
                  span.text-small.tz-text FOUNDER AND CEO
                .team-content.padding-twelve-bottom
                  .display-inline-block.margin-five.no-margin-tb
                    a(href='#')
                      i.fa.ti-facebook.text-medium.tz-icon-color.text-dark-gray
                  .display-inline-block.margin-five.no-margin-tb
                    a(href='#')
                      i.fa.ti-twitter-alt.text-medium.tz-icon-color.text-dark-gray
                  .display-inline-block.margin-five.no-margin-tb
                    a(href='#')
                      i.fa.ti-linkedin.text-medium.tz-icon-color.text-dark-gray
                  .display-inline-block.margin-five.no-margin-tb
                    a(href='#')
                      i.fa.ti-pinterest.text-medium.tz-icon-color.text-dark-gray
          // end team member
          // team member
          .col-md-4.col-sm-4.col-xs-12.text-center.xs-margin-fifteen-bottom
            .team.position-relative
              img.margin-twelve-bottom(alt='', src='http://placehold.it/750x893', data-img-size='(W)750px X (H)893px')
              .team-details.text-center
                .team-name.padding-twelve-bottom.margin-twelve-bottom.border-bottom.tz-border
                  span.alt-font.text-dark-gray.display-block.tz-text.font-weight-500 SOMMER CHRISTIAN
                  span.text-small.tz-text CREATIVE DIRECTOR
                .team-content.padding-twelve-bottom
                  .display-inline-block.margin-five.no-margin-tb
                    a(href='#')
                      i.fa.ti-facebook.text-medium.tz-icon-color.text-dark-gray
                  .display-inline-block.margin-five.no-margin-tb
                    a(href='#')
                      i.fa.ti-twitter-alt.text-medium.tz-icon-color.text-dark-gray
                  .display-inline-block.margin-five.no-margin-tb
                    a(href='#')
                      i.fa.ti-linkedin.text-medium.tz-icon-color.text-dark-gray
                  .display-inline-block.margin-five.no-margin-tb
                    a(href='#')
                      i.fa.ti-pinterest.text-medium.tz-icon-color.text-dark-gray
          // end team member
          // team member
          .col-md-4.col-sm-4.col-xs-12.text-center.xs-margin-fifteen-bottom
            .team.position-relative
              img.margin-twelve-bottom(alt='', src='http://placehold.it/750x893', data-img-size='(W)750px X (H)893px')
              .team-details.text-center
                .team-name.padding-twelve-bottom.margin-twelve-bottom.border-bottom.tz-border
                  span.alt-font.text-dark-gray.display-block.tz-text.font-weight-500 ANDREW LUPKIN
                  span.text-small.tz-text DEVELOPER HEAD
                .team-content.padding-twelve-bottom
                  .display-inline-block.margin-five.no-margin-tb
                    a(href='#')
                      i.fa.ti-facebook.text-medium.tz-icon-color.text-dark-gray
                  .display-inline-block.margin-five.no-margin-tb
                    a(href='#')
                      i.fa.ti-twitter-alt.text-medium.tz-icon-color.text-dark-gray
                  .display-inline-block.margin-five.no-margin-tb
                    a(href='#')
                      i.fa.ti-linkedin.text-medium.tz-icon-color.text-dark-gray
                  .display-inline-block.margin-five.no-margin-tb
                    a(href='#')
                      i.fa.ti-pinterest.text-medium.tz-icon-color.text-dark-gray
          // end team member
    section#title-section1.padding-110px-tb.xs-padding-top-60px.no-padding-bottom.bg-white.builder-bg.border-none
      .container
        .row
          // section title
          .col-md-12.col-sm-12.col-xs-12.text-center
            h2.title-extra-large-2.xs-title-extra-large.line-height-50.text-dark-gray.letter-spacing-minus-1.alt-font.margin-three-bottom.xs-margin-fifteen-bottom.tz-text Our latest news
            .text-medium.width-60.margin-lr-auto.md-width-70.sm-width-100.tz-text.margin-thirteen-bottom.xs-margin-nineteen-bottom
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          // end section title
    section#blog-section5.padding-110px-tb.xs-padding-60px-tb.no-padding-top.bg-white.builder-bg.border-none
      .container
        .row
          // blog item
          .col-md-3.col-sm-6.col-xs-12.sm-margin-thirteen-bottom.xs-margin-nineteen-bottom.sm-clear-both
            .blog-post
              // blog image
              .blog-image.margin-twenty-bottom.sm-margin-ten-bottom
                a(href='#')
                  img.img100(alt='', src='http://placehold.it/800x507', data-img-size='(W)800px X (H)507px')
              // end blog image
              // blog details
              .post-details
                a.tz-text.text-dark-gray.blog-post-title.text-large.font-weight-600.display-block.margin-ten-bottom.xs-margin-five-bottom(href='#') Art is the only way to run away without leaving home.
                .text-medium.tz-text
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...
              // end blog details
          // end blog item
          // blog item
          .col-md-3.col-sm-6.col-xs-12.sm-margin-thirteen-bottom.xs-margin-nineteen-bottom
            .blog-post
              // blog image
              .blog-image.margin-twenty-bottom.sm-margin-ten-bottom
                a(href='#')
                  img.img100(alt='', src='http://placehold.it/800x507')
              // end blog image
              // blog details
              .post-details
                a.tz-text.text-dark-gray.blog-post-title.text-large.font-weight-600.display-block.margin-ten-bottom.xs-margin-five-bottom(href='#') There hasn't been any art yet. Art is just beginning.
                .text-medium.tz-text
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...
              // end blog details
          // end blog item
          // blog item
          .col-md-3.col-sm-6.col-xs-12.sm-margin-eight-bottom.sm-clear-both.xs-margin-nineteen-bottom
            .blog-post
              // blog image
              .blog-image.margin-twenty-bottom.sm-margin-ten-bottom
                a(href='#')
                  img.img100(alt='', src='http://placehold.it/800x507', data-img-size='(W)800px X (H)507px')
              // end blog image
              // blog details
              .post-details
                a.tz-text.text-dark-gray.blog-post-title.text-large.font-weight-600.display-block.margin-ten-bottom.xs-margin-five-bottom(href='#') An artist cannot fail, it is a success to be one.
                .text-medium.tz-text
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...
              // end blog details
          // end blog item
          // blog item
          .col-md-3.col-sm-6.col-xs-12.sm-margin-eight-bottom.xs-margin-nineteen-bottom
            .blog-post
              // blog image
              .blog-image.margin-twenty-bottom.sm-margin-ten-bottom
                a(href='#')
                  img.img100(alt='', src='http://placehold.it/800x507', data-img-size='(W)800px X (H)507px')
              // end blog image
              // blog details
              .post-details
                a.tz-text.text-dark-gray.blog-post-title.text-large.font-weight-600.display-block.margin-ten-bottom.xs-margin-five-bottom(href='#') A great artist is always before his time or behind it.
                .text-medium.tz-text
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...
              // end blog details
          // end blog item
          // view more button
          .col-md-12.col-sm-12.col-xs-12.text-center.margin-seven-top.xs-no-margin-top
            a.btn.btn-medium.btn-circle.bg-poison-green.text-white.propClone(href='#')
              span.tz-text VIEW ALL NEWS
          // end view more button
    section#subscribe-section1.cover-background.tz-builder-bg-image.padding-130px-tb.xs-padding-60px-tb.border-none.bg-img-four(data-img-size='(W)1920px X (H)499px', style="background:linear-gradient(rgba(15,15,15,0.7), rgba(10,10,10,0.7)), url('http://placehold.it/1920x499') ")
      .container.position-relative
        .row.center-col
          .col-md-12.text-center
            h3.text-white.title-extra-large-2.xs-title-extra-large.line-height-50.alt-font.font-weight-500.letter-spacing-minus-1.margin-two-bottom.xs-title-extra-large-3.xs-margin-eleven-bottom.tz-text Let's get started now
            .text-light-gray.center-col.width-55.sm-width-80.text-large.margin-six-bottom.xs-margin-nineteen-bottom.xs-text-extra-large.tz-text.xs-width-100
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
            .display-inline-block.position-relative.subscribe-style1.xs-width-100
              form.position-relative(action='javascript:void(0)', method='post')
                input#email.big-input.text-transform-none.xs-width-100.xs-no-margin(type='text', data-email='required', placeholder='Your email address', name='email')
                a.default-submit.title-small.text-dark-gray(href='javascript:void(0)')
                  i.fa.fa-long-arrow-right.tz-icon-color
    section#social-widget4.bg-gray.builder-bg.padding-80px-tb.xs-padding-60px-tb.border-none
      .container
        .row
          .col-md-10.col-md-offset-1.col-sm-12.text-center.social-icon-color
            .col-md-4.col-sm-4.xs-margin-nineteen-bottom
              a.text-dark-gray.alt-font.text-medium.tz-text.font-weight-500(target='_blank', href='https://twitter.com/intent/tweet?text=Get-high-conversion-rates-on-your-landing-page.-http://www.themezaa.com/')
                i.fa.fa-twitter.icon-large.margin-six-bottom.xs-margin-three-bottom.tz-icon-color
                br
                | Share on Twitter
            .col-md-4.col-sm-4.xs-margin-nineteen-bottom
              a.text-dark-gray.alt-font.text-medium.tz-text.font-weight-500(target='_blank', href='http://www.facebook.com/sharer/sharer.php?u=http://www.themezaa.com/')
                i.fa.fa-facebook.icon-large.margin-six-bottom.xs-margin-three-bottom.tz-icon-color
                br
                | Share on Facebook
            .col-md-4.col-sm-4
              a.text-dark-gray.alt-font.text-medium.tz-text.font-weight-500(target='_blank', href='https://plus.google.com/share?url=http://www.themezaa.com/')
                i.fa.fa-google-plus.icon-large.margin-six-bottom.xs-margin-three-bottom.tz-icon-color
                br
                | Share on Google+
    section#contact.padding-110px-tb.xs-padding-top-60px.no-padding-bottom.bg-white.builder-bg.border-none
      .container
        .row
          // section title
          .col-md-12.col-sm-12.col-xs-12.text-center
            h2.title-extra-large-2.xs-title-extra-large.line-height-50.text-dark-gray.letter-spacing-minus-1.alt-font.margin-three-bottom.xs-margin-fifteen-bottom.tz-text Contact information
            .text-medium.width-60.margin-lr-auto.md-width-70.sm-width-100.tz-text.margin-thirteen-bottom.xs-margin-nineteen-bottom
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          // end section title
    section#contact-section5.padding-110px-tb.bg-white.no-padding-top.builder-bg.xs-padding-60px-tb
      .container
        .row.four-column
          // feature box
          .col-md-3.col-sm-6.col-xs-12.sm-margin-nine-bottom.xs-margin-fifteen-bottom.text-center.sm-clear-both
            .feature-box.xs-margin-thirteen.xs-no-margin-tb
              i.fa.ti-location-pin.text-poison-green.icon-large.tz-icon-color.margin-ten-bottom.xs-margin-seven-bottom
              h3.feature-title.text-dark-gray.text-medium.font-weight-500.alt-font.display-block.margin-three-bottom.xs-margin-five-bottom.tz-text.font-weight-400 Contact Address
              .feature-text.text-medium.center-col.tz-text
                | 301 The Greenhouse, Custard,
                br
                | Factory, London, E2 8DY.
          // end feature box
          // feature box
          .col-md-3.col-sm-6.col-xs-12.sm-margin-nine-bottom.xs-margin-fifteen-bottom.text-center
            .feature-box.xs-margin-thirteen.xs-no-margin-tb
              i.fa.ti-mobile.text-poison-green.icon-large.tz-icon-color.margin-ten-bottom.xs-margin-seven-bottom
              h3.feature-title.text-dark-gray.text-medium.font-weight-500.alt-font.display-block.margin-three-bottom.xs-margin-five-bottom.tz-text.font-weight-400 Call Us Today!
              .feature-text.text-medium.center-col.tz-text
                | (M) +44 (0) 123 456 7890
                br
                | (O) +44 (0) 123 456 7890
          // end feature box
          // feature box
          .col-md-3.col-sm-6.col-xs-12.text-center.xs-margin-fifteen-bottom.sm-clear-both
            .feature-box.xs-margin-thirteen.xs-no-margin-tb
              i.fa.ti-email.text-poison-green.icon-large.tz-icon-color.margin-ten-bottom.xs-margin-seven-bottom
              h3.feature-title.text-dark-gray.text-medium.font-weight-500.alt-font.display-block.margin-three-bottom.xs-margin-five-bottom.tz-text.font-weight-400 Email
              .feature-text.text-medium.center-col
                a.tz-text(href='mailto:no-reply@domain.com') no-reply@domain.com
                br
                a.tz-text(href='mailto:help@domain.com') help@domain.com
          // end feature box
          // feature box
          .col-md-3.col-sm-6.col-xs-12.text-center
            .feature-box.xs-margin-thirteen.xs-no-margin-tb
              i.fa.ti-time.text-poison-green.icon-large.tz-icon-color.margin-ten-bottom.xs-margin-seven-bottom
              h3.feature-title.text-dark-gray.text-medium.font-weight-500.alt-font.display-block.margin-three-bottom.xs-margin-five-bottom.tz-text.font-weight-400 Working Hours
              .feature-text.text-medium.center-col.tz-text
                | Mon to Sat - 9 AM to 11 PM
                br
                | Sunday - 10 AM to 6 PM
          // end feature box
    footer#footer-section13.bg-dark-gray.padding-60px-tb.xs-padding-40px-tb.builder-bg
      .container
        .row
          // logo
          .col-md-3.col-sm-12.col-xs-12.sm-text-center.sm-margin-five-bottom
            a.inner-link(href='#home')
              img(src='images/logo-white.png', data-img-size='(W)163px X (H)40px', alt='')
          // end logo
          // caption
          .col-md-6.col-sm-12.col-xs-12.text-center.sm-margin-five-bottom
            .tz-text.text-medium.sm-margin-two-bottom
              p.no-margin-bottom
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit laudantium architecto maiores deserunt suscipit perferendis repellat.
          // end caption
          // social elements
          .col-md-3.col-sm-12.col-xs-12.text-right.sm-text-center.social-icon
            a(href='#')
              i.fa.fa-facebook.text-white.tz-icon-color(aria-hidden='true')
            a(href='#')
              i.fa.fa-google-plus.text-white.tz-icon-color(aria-hidden='true')
            a(href='#')
              i.fa.fa-twitter.text-white.tz-icon-color(aria-hidden='true')
            a(href='#')
              i.fa.fa-pinterest.text-white.tz-icon-color(aria-hidden='true')
    // javascript libraries
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/jquery.appear.js')
    script(type='text/javascript', src='js/smooth-scroll.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    // wow animation
    script(type='text/javascript', src='js/wow.min.js')
    // owl carousel
    script(type='text/javascript', src='js/owl.carousel.min.js')
    // images loaded
    script(type='text/javascript', src='js/imagesloaded.pkgd.min.js')
    // isotope
    script(type='text/javascript', src='js/jquery.isotope.min.js')
    // magnific popup
    script(type='text/javascript', src='js/jquery.magnific-popup.min.js')
    // navigation
    script(type='text/javascript', src='js/jquery.nav.js')
    // equalize
    script(type='text/javascript', src='js/equalize.min.js')
    // fit videos
    script(type='text/javascript', src='js/jquery.fitvids.js')
    // number counter
    script(type='text/javascript', src='js/jquery.countTo.js')
    // time counter
    script(type='text/javascript', src='js/counter.js')
    // twitter Fetcher
    script(type='text/javascript', src='js/twitterFetcher_min.js')
    // main
    script(type='text/javascript', src='js/main.js')
